.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .fixture-card {
    width: 23%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  .fixture-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .fixture-info {
    padding: 16px;
  }

  .fixture-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .fixture-teams {
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .fixture-result {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
  }

  .fixture-details {
    font-size: 14px;
    color: #555;
  }
  
  .title_1{
    color: #fff;
    font-size: 25px;
  }

  .fixture-card .img_1 {
    margin-right: 10px;


    width: 30px;
    height: auto;
  }

  .resul {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

  .tarjeta {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.equipo .img_1 {
  margin-right: 10px;
    width: 30px;
    height: auto;
    
    
}

.contenedor {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  margin: 10px;
  font-size: 70px;
}

.contenedor img {
  max-width: 100%;
  height: auto;
  width: 80px;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

.contenido {
    padding: 15px;
}

.equipo {
    font-weight: bold;
}

.resultado {
    margin-top: 10px;
}
.mostrar-mas {
  text-align: center;
  margin-top: 10px;
}

.mostrar-mas a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th, td .img_1{
  margin-right: 10px;
  width: 30px;
  height: auto;
}

th {
  background-color: #f2f2f2;
}

.partidos_fondo{
  background-image: url('/EyA_SAS/img/conmebol.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.equipos_fondo{
            
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            margin: 0;
}
.equipos_fondo .column {
  text-align: center;
  color: #fff;
}

.equipos_fondo  .column img {
  max-width: 100%;
  width: 50px;
  height: auto;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00039c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo2 {
    font-size: 20px;
  width: 80px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
form button .fa-solid {
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.cop{
    text-align: center;
}
/* esto es para las lineas debajo de los enlaces*/
.underline{
    width: 100%;
    height: 5px;
    background: #767676;  
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
width: 15px;
height: 100%;
background: #fff;
border-radius: 3px;
position: absolute;
top: 0;
left: 10px;
animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
/*fin de las lineas debajo de los enlaces*/


/*esto es para hacer todo el footer responsive*/
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
        
      }
      .col:nth-child(2), .col:nth-child(3){
          flex-basis: 100%;
      }
}

